#navBarWrapper {
  width: 200px;
  background-color: transparent;
  justify-content: flex-start;
}

.navbar-section-proz {
  height: 100%;
}

.navbar-section-proz li {
  margin-left: 5px;
  padding: 2px 2px 2px 2px !important;
}

.navbar-section-proz li p {
  padding-left: 5px;
  color: #333 !important;
}

.navbar-section-proz li a {
  color: #333 !important;
}

.primaryDashboardNavigation ul li a {
  display: flex;
  flex-direction: row;
  align-items: flex-start !important;
  justify-content: flex-start !important;
}

.navbar-section-proz {
  border-top: 1px solid #d5dbdb;
  padding: 10px 0;
}

.navbar-section-proz h3 {
  padding-top: 5px;
  font-weight: bolder;
  color: #186362;
  align-self: flex-start;
  margin-left: 10px;
}

.navbar-section-proz li:hover {
  background-color: whitesmoke;
  border-radius: 5px;
}

/*  mobile and tablet */
@media only screen and (max-width: 768px) {
  #navBarWrapper {
    width: 50px !important;
  }

  #navBarWrapper li p,
  #navBarWrapper .navbar_sectionTitle {
    display: none;
  }
}
