/* Import google open sans fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}
.sticky {
  position: sticky;
  top: 0px;
  z-index: 99;
}

.text-primary {
  color: #186362 !important;
}
.bg-primary {
  background-color: #186362 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
